* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #4761ff;
  --hover-color: #053277;
  --footer-color:#011e49;
}

/* top Arrow Strat */
.fa-angles-up {
  position: fixed;
  bottom: 10px;
  right: -150px;
  background-color: var(--hover-color);
  padding: 15px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  z-index: 3;
}
.fa-angles-up:hover {
  background-color: var(--main-color);
}
/* top Arrow End */
/* Top Bar Start */
.top-bar {
  background-color: var(--main-color);
}
.top-bar-social-icon li i {
  color: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}
/* Top Bar End */
/* navbar Start */
.navbar {
  transition: 0.3s ease-in-out;
}
.navbar .container .navbar-brand:hover {
  color: var(--main-color);
}
.navbar .container .navbar-nav .nav-item .nav-link,
.active {
  font-weight: 600;
  color: #333;
  font-size: 18px;
  letter-spacing: 1.1px;
  transition: 0.3s ease-in-out;
}
.navbar .container .navbar-nav .nav-item .active {
  font-weight: 600;
  color: var(--main-color);
  font-size: 18px;
  letter-spacing: 1.1px;
}
.navbar .container .navbar-nav .nav-item .nav-link:hover {
  color: var(--main-color);
}
.get-qoute {
  transition: 0.3s ease-in-out;
}

.navbar-toggler-icon {
  background-image: url("../images/bars-staggered-solid.svg");
}
/* navbar End */
/* Carsoul Start */
.carousel-inner .carousel-item h1 {
  font-size: 60px;
}
.carousel-inner .carousel-item h5 span {
  color: var(--main-color);
}
.carousel-inner .carousel-item a {
  background-color: var(--main-color);
  transition: 0.3s;
}
.carousel-inner .carousel-item a:hover {
  background-color: var(--hover-color);
}
/* Carsoul End */
/* Feature Start */
.feature .container .row .crd {
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.crd::after {
  content: "";
  position: absolute;
  top: 0;
  left: 700px;
  width: 100%;
  height: 5px;
  background-color: var(--hover-color);
  transition: 0.3s;
}
.crd::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 700px;
  width: 100%;
  height: 5px;
  background-color: var(--hover-color);
  transition: 0.3s;
}
.crd:hover::after {
  left: 0;
}
.crd:hover::before {
  right: 0;
}
.crd:hover {
  transform: scale(1.1);
}
/* Feature End */
/* About Start */
.about {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/about.jpg) left center no-repeat;
  background-size: cover;
}
.about .container .explore {
  background-color: var(--main-color);
  color: #fff;
  transition: 0.3s ease-in-out;
}

#play-video {
  position: absolute;
  top: 280px;
  left: 50%;
  background-color: var(--hover-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
}
#play-video span {
  display: block;
  
  border: 13px solid;
  border-color: transparent transparent transparent #fff;
  background-color: transparent;
  position: relative;
  left: 20px;
  top: 12px;
}
#play-video span::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -57px;
  border-radius: 50%;
  background-color: #4761ff85;
  z-index: -1;

  animation-name: down-up;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes down-up {
  100% {
    transform: scale(0.8);
  }
}
.about .container .explore:hover {
  background-color: var(--hover-color);
}
.about .container .about-items h6 {
  color: var(--hover-color);
}
.about .container .about-items {
  background-color: #fff;
}

/* About End */
/* Services Start */

.services-text h1 {
  font-size: 50px;
  width: 550px;
  margin: auto;
  color: black;
}
@media (max-width: 767px) {
  .services-text h1 {
    font-size: 30px;
    width: 400px;
  }
}
.services-item h5 {
  transition: 0.3s;
}
.services-item:hover h5 {
  color: var(--main-color);
}
.services-item:hover {
  transform: translatey(-30px);
}
.services-item {
  transition: 0.5s;
  position: relative;
}
.services-item .item-text {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.btn {
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 1;
  transition: 0.5s;
  width: 80%;
  height: 40px;
}
.btn a {
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  background-color: var(--hover-color);
}
.services-item:hover .btn {
  bottom: -45px;
}
/* Services End */
/* Projects Start */
.projects {
  background-color: #0000001a;
}
.projects .container .projects-text h5 {
  color: var(--main-color);
}
.projects .container .projects-text h1 {
  width: 50%;
  font-size: 50px;
  color: #000;
}
@media (max-width: 767px) {
  .projects .container .projects-text h1 {
    width: 100%;
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .projects .container .projects-text h1 {
    width: 100%;
    font-size: 40px;
  }
}
.main-projects .projects-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.3s;
}


.main-projects .projects-item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000083;
  bottom: -400px;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.3s ease-in-out;
}
.eye,
.link {
  padding: 5px 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s;
  color: #000;
}
.eye:hover,
.link:hover {
  background-color: var(--hover-color);
  color: #fff;
}
.relate:hover .overlay {
  bottom: 0;
}
.project-item-text {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* Projects End */
/* Get Qoute Start */
.qoute .qoute-text h5 {
  color: var(--main-color);
}
.qoute .qoute-text h1 {
  color: #000;
}
.qoute .qoute-text a i {
  background-color: var(--main-color);
  padding: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.qoute .qoute-text a span {
  padding: 9px 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 19px;
  color: var(--main-color);
  position: relative;
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.qoute .qoute-text {
  overflow: hidden;
}
.qoute .qoute-text a span::before {
  content: "";
  background-color: var(--main-color);
  width: 100%;
  height: 48px;
  position: absolute;
  border-top-right-radius: 8x;
  border-bottom-right-radius: 8px;
  left: -400px;
  top: 0;
  z-index: -1;
  transition: 0.8s;
}
.qoute .qoute-text a span:hover {
  color: #fff;
}
.qoute .qoute-text a span:hover::before {
  left: 0;
}

.qoute .qoute-text a {
  border: 2px solid var(--main-color);
  padding: 12px 0px;
  border-radius: 9px;
}
.form-content {
  margin-left: 80px;
}
.form-content h2 {
  color: #000;
}
.form-content form select {
  width: 80%;
  color: #00000083;
}

.form-content form input,
select,
textarea {
  padding: 15px;
  border-radius: 8px;
  border-color: #0000001a;
}
.form-content form input::placeholder,
.form-content form textarea::placeholder {
  color: #00000083;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: 600;
}
.form-content form input:focus,
.form-content form select:focus,
.form-content form textarea:focus {
  box-shadow: 0 0 3px 1px #00000083;
  outline: none;
}
.sub {
  border: none;
  padding: 10px;
  background-color: var(--hover-color);
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1.2px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  z-index: 1;
}
.sub::after {
  content: "";
  z-index: -1;
  background-color: #000;
  width: 100%;
  height: 50px;
  position: absolute;
  left: -800px;
  top: 0;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.sub:hover::after {
  z-index: -1;
  left: 0;
}
@media (max-width: 992px) {
  .form-content {
    margin-left: -10px;
    margin-top: 30px;
  }
  .form-content form input {
    width: 100%;
  }
  .form-content form select {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .form-content form select {
    width: 100%;
  }
}
/* Get Qoute End */
/* Team Start */
.team h5 {
  color: var(--main-color);
}
.team h1 {
  color: #000;
  width: 50%;
  font-size: 50px;
  font-weight: bold;
  margin: auto;
}
.team .team-member .img {
  overflow: hidden;
}
.team .team-member .img img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.team .team-member a {
  position: absolute;
  left: -100px;
  transition: 0.5s ease-in-out;
}

.team .team-member a:first-child {
  top: 15px;
  transition: 0.3s;
}
.team .team-member a:nth-child(2) {
  top: 60px;
  transition: 0.5s;
}
.team .team-member a:nth-child(3) {
  top: 110px;
  transition: 0.8s;
}
.team .team-member a:nth-child(4) {
  top: 160px;
  transition: 1.1s;
}
.team .team-member .social a {
  border-radius: 50%;
  padding: 5px 8px;
  text-align: center;
  color: var(--main-color);
  background-color: #fff;
}
.team .team-member .social a:hover {
  background-color: var(--main-color);
  color: #fff;
}
.team .member-item:hover a {
  left: 10px;
}
.text-member {
  background-color: var(--main-color);
  color: #ffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 992px) {
  .team h1 {
    font-size: 30px;
    width: 80%;
  }
}

/* Team End */
/* Testinomoal Start  */
.testimonial .testimonail-text h5 {
  color: var(--main-color);
}
.testimonial .testimonail-text h1 {
  width: 45%;
  font-size: 50px;
  color: #000;
  font-weight: bold;
}
@media (max-width:992px) {
  .testimonial .testimonail-text h1 {
    width: 100%;
    font-size: 40px;
   
  }
  
}
.second {
  background-color: var(--main-color);
  color: #fff;
}
.second p {
  color: #fff;
}
.second span{
  color: #fff;
}
#sp{
  color: #fff;
}
#sSpan{
  color: #fff;
}
.testemonial-item {
  transition: 0.3s;
}
.testemonial-item p {
  color: #00000083;
}
.testemonial-item span {
  color: var(--main-color);
}
.testemonial-item:hover {
  background-color: var(--main-color);
  color: #fff;
}
.testemonial-item:hover p{
  color: #fff;
}
.testemonial-item:hover span{
  color: #fff;
}
/* Testinomoal End */
/* Footer Start */
.footer{
  background-color: var(--footer-color);
  color: #fff;
}
.footer .lis-icon li{
  transition: 0.3s ease-in-out ;
}
.footer .lis-icon li a {
  padding: 5px 8px ;
border-radius: 50%;
transition: 0.3s ease-in-out;
}
.quick-links li a{
  color: rgba(255,255,255,.5);
}
.quick-links li:hover {
  transform: translate(5px);
}
.quick-links li:hover a{
  color: #fff;
}
.footer-item form{
  position: relative;
}
.footer-item form input{
  padding: 15px 30px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,.5);
}
.footer-item form input::placeholder{
  color:rgba(255,255,255,.5) ;
}
.footer-item form #submit{
  position: absolute;
  border-radius: 8px;
  right: 10%;
  top: 5px;
  border: none;
padding: 10px 20px;
background-color: #fff;
color: var(--hover-color);
font-weight: bold;
}
@media (max-width:1200px) {
  .footer-item form #submit{
    right: 5%;
  
  }
  .footer-item form input{
    padding: 15px 20px;

  }
  
}
@media (max-width:992px) {
  .footer-item form input{
    padding: 15px 20px;

  }
  .footer-item form #submit{
    right: 35%;

  }
}
@media (max-width:767px) {
  .footer-item form #submit{
    right: 60%;

  }
}
/* Footer End */
/* down-footer Start */
.down-footer .down-text{
  font-weight: 600;
  letter-spacing: 1.1px;
}
.down-footer .down-text a {
  color: #fff;
transition: 0.3s ease-in-out;
}
.down-footer .down-text a:hover{
  color: var(--main-color);
}
/* down-footer End */